---
import Initial from "../layouts/Initial.astro";
---

<Initial title="Yehezkiel Dio Sinolungan">
    <main class="relative z-20 mb-24 flex-1">
        <section class="space-y-6 pt-16 lg:pt-24">
            <div class="container flex max-w-[64rem] flex-col gap-2 text-left">
                <div class="flex flex-col items-start gap-4">
                    <div class="relative z-20">
                        <h1 class="z-20 text-3xl/10 font-bold tracking-tighter lg:text-3xl">
                            Hi-ya! <br class="visible block lg:invisible lg:hidden" /> I'm Yehezkiel Dio.
                        </h1>
                        <p class="z-20 mt-2 text-justify text-sm/7 font-semibold lg:text-base/7">
                            Software Engineer. Full-stack Developer. Informatics Undergraduate.
                        </p>
                    </div>
                    <div class="relative z-20 mt-6">
                        <p class="z-20 max-w-4xl text-sm/8 font-normal lg:text-sm/7 [&:not(:first-child)]:mt-8">
                            A software engineer specializing in a full-stack development, with an on and off focus on
                            the frontend. I have passion for contributing to open-source projects, and a strong
                            enthusiasm for DevOps practices and an interest in software architecture.
                        </p>
                    </div>

                    <div class="relative z-20 mt-8">
                        <h2 class="z-20 text-3xl font-bold tracking-tighter lg:text-3xl">Projects</h2>
                        <ul class="z-20 my-6 ml-6 list-disc [&>li]:mt-2 [&>li]:text-sm/7 [&>li]:leading-7">
                            <li class="z-20">
                                <a
                                    class="underline-offset-4 hover:underline"
                                    href="https://github.com/trashtrackteam/trashtrack"
                                >
                                    <strong>TrashTrack (2024):</strong> A smart waste disposal system that uses Internet
                                    of Things (IoT) technology and data analysis to monitor and sort waste efficiently and
                                    in real-time. Finalist for Balikpapan City's IoT and Data Analytic Smart City Competition
                                    2024.
                                </a>
                            </li>
                            <li class="z-20">
                                <a
                                    class="underline-offset-4 hover:underline"
                                    href="https://github.com/astrantialabs/administrare"
                                >
                                    <strong>Administrare (2022):</strong> An intuitive website application with the aim of
                                    making it easier to manage internal data such as financial reports, office inventory,
                                    and archive records of an organization. Intern project at Balikpapan City's Department
                                    of Labor and Social.
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="mt-8">
                        <h2 class="text-3xl font-bold tracking-tighter lg:text-3xl">Contact</h2>
                        <p class="max-w-4xl text-base/8 font-normal lg:text-base/7 [&:not(:first-child)]:mt-6">
                            Email: yehezkieldio@proton.me
                        </p>
                        <p class="max-w-4xl text-base/8 font-normal lg:text-base/7 [&:not(:first-child)]:mt-4">
                            GitHub: <a
                                href="https://github.com/yehezkieldio"
                                class="underline-offset-4 hover:underline"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                github.com/yehezkieldio
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</Initial>
