---
import avatar from "#/assets/avatar.jpg";
import ContentFadeIn from "#/components/content-fade-in.astro";
import ContentWrapper from "#/components/content-wrapper.astro";
import BaseLayout from "#/layouts/BaseLayout.astro";
import { Image } from "astro:assets";
---

<BaseLayout>
    <ContentWrapper>
        <ContentFadeIn>
            <Image
                src={avatar}
                alt="Yehezkiel Dio Sinolungan"
                class="rounded-xs"
                width={100}
                height={100}
                loading="lazy"
                decoding="async"
            />
            <h1 class="font-display scroll-m-20 text-xl font-bold tracking-tight">Yehezkiel Dio Sinolungan</h1>
            <h2 class="text-muted-foreground/90 mt-1.5 leading-6 font-medium tracking-normal">
                Software Engineer. Web Developer. Open Source Enthusiast.
            </h2>
            <p class="text-foreground/70">
                I&apos;m a software engineer based in Indonesia, and I am passionate about building accessible and
                delightful digital experiences. I mostly work in full-stack web development, with a generalized focus on
                front-end, back-end, and devops technologies, though I don&apos;t consider myself an expert in any
                specific area.
            </p>
            <p class="text-foreground/70 group [&>a]:text-link">
                <span>Connect on&nbsp;</span>
                <a href="https://x.com/yhezkieldio" target="_blank" rel="noopener noreferrer">X</a>
                <span>&nbsp;·&nbsp;</span>
                <a href="https://github.com/yehezkieldio" target="_blank" rel="noopener noreferrer">GitHub</a>
                <span>&nbsp;·&nbsp;</span>
                <a href="https://www.linkedin.com/in/yehezkieldio" target="_blank" rel="noopener noreferrer">
                    LinkedIn
                </a>
                <span class="hidden sm:inline">— or send me an email at</span>
                <br class="sm:hidden" />
                <span class="sm:hidden">or send me an email at</span>
                <a href="mailto:yehezkieldio@proton.me" target="_blank" rel="noopener noreferrer">
                    yehezkieldio@proton.me
                </a>
            </p>
            <p class="text-muted-foreground/50 mt-8 text-xs leading-7 md:text-sm">
                MIT 2025-PRESENT © Yehezkiel Dio Sinolungan
            </p>
        </ContentFadeIn>
    </ContentWrapper>
</BaseLayout>
