<div
    class="group bg-background/50 text-card-foreground hover:bg-primary/5 active:bg-primary/10 border-accent hover:border-foreground/50 active:border-foreground/50 w-full cursor-pointer touch-manipulation border shadow transition-colors"
>
    <div class="flex max-w-[400px] items-center justify-between p-4">
        <slot />
    </div>
</div>
