<span class="inline-flex cursor-pointer items-center justify-center">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-right-icon h-6 w-6 overflow-visible"
    >
        <line
            x1="6"
            y1="12"
            x2="10"
            y2="12"
            class="text-muted-foreground group-hover:text-foreground group-active:text-foreground origin-left scale-x-0 opacity-0 transition-all duration-300 ease-in-out group-hover:scale-x-100 group-hover:opacity-100 group-active:scale-x-100 group-active:opacity-100"
        >
        </line>
        <path
            d="m9 18 6-6-6-6"
            class="text-muted-foreground group-hover:text-foreground group-active:text-foreground origin-left transition-transform duration-300 ease-in-out group-hover:translate-x-1 group-active:translate-x-1"
        >
        </path>
    </svg>
</span>
