---
import IconX from "#/components/icons/icon-x.astro";

export const socials = {
    github: "https://github.com/yehezkieldio",
    x: "https://x.com/yhezkieldio",
    linkedin: "https://www.linkedin.com/in/yehezkieldio",
    instagram: "https://www.instagram.com/yhezkiel.dio"
};

interface SocialLink {
    name: string;
    href: string;
    useIcon?: boolean;
    icon?: unknown;
}

const socialLinks: SocialLink[] = [
    { name: "X", href: socials.x, useIcon: true, icon: IconX },
    { name: "GitHub", href: socials.github },
    { name: "LinkedIn", href: socials.linkedin }
];

const email = "yehezkieldio@proton.me";
---

<div class="text-foreground/80 mt-8 mb-5 inline-block space-y-3.5 align-middle">
    <span class="text-foreground/80">Connect on &nbsp;</span>
    {
        socialLinks.map((social, index) => (
            <Fragment>
                {index > 0 && <span>&nbsp;·&nbsp;&nbsp;</span>}
                <a
                    class="text-foreground hover:text-foreground/70 inline-block underline"
                    target="_blank"
                    rel="noopener noreferrer"
                    href={social.href}
                >
                    {social.useIcon ? <IconX /> : <span>{social.name}</span>}
                </a>
            </Fragment>
        ))
    }

    <span>— or send me an email at </span>
    <a
        href={`mailto:${email}`}
        class="text-foreground hover:text-foreground/70 underline"
        target="_blank"
        rel="noopener noreferrer"
    >
        {email}
    </a>
</div>
