---
import ContentFadeIn from "#/components/content-fade-in.astro";
import ContentWrapper from "#/components/content-wrapper.astro";
import BaseLayout from "#/layouts/BaseLayout.astro";
---

<BaseLayout>
    <ContentWrapper>
        <ContentFadeIn>
            <h1>Hello, Projects!</h1>
        </ContentFadeIn>
    </ContentWrapper>
</BaseLayout>
