---
import "../styles/global.css";

import "@fontsource-variable/manrope";
import "@fontsource-variable/geist-mono";
import "@fontsource-variable/geist";
import Navbar from "#/components/navbar.astro";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Yehezkiel Dio Sinolungan</title>
        <ClientRouter fallback="swap" />
    </head>
    <body>
        <div class="relative min-h-screen">
            <div class="relative flex min-h-screen w-full flex-col">
                <Navbar />
                <slot />
            </div>
        </div>
    </body>
</html>
